@import url('https://fonts.googleapis.com/css?family=Joti+One');
/* ... body definition ... */

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
